/*
   New Perspectives on HTML and CSS
   Tutorial 3
   Case Problem 2

   Mountain Wheels Text and Color Style
   Author:           Nate Renfro
   Date:             2.1.17

   Filename:         mw_layout.css
   Supporting Files: none
*/

/*Body Styles*/
body {
  font-family: Tahoma, Geneva, sans-serif;
}


/*Header Styles*/
#articleheader {
  font: 18px normal;
  letter-spacing: 7px;
  text-align: center;
}


/*Nav List Styles*/
nav {
  background-color: rgb(125, 120, 89);
}

nav ul {
  list-style-type: none;
  line-height: 3em;
}

nav ul li a {
  color: white;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

nav ul li a:hover{
  background-color: rgb(131, 121, 36);
  color: yellow;
  color: rgba(255, 255, 255, 1.0);
}

nav ul li:hover {
  list-style-image: url(wheelmarker.png);
}

nav ul li:first-of-type {
  text-transform: uppercase;
}


/*Section Styles*/
#leftsection p {
  font-size: 22px;
}

#firstpar::first-line {
  text-transform: uppercase;
}

blockquote {
  background-color: rgb(131, 121, 36);
  color: white;
  font-size: 16px;
  font-family: "Comic Sans MS", Times, cursive;
}

blockquote p::before {
  content: open-quote;
}

blockquote p::after {
  content: close-quote;
}

#rightsection h1 {
  font: 22px normal;
  text-align: center;
  letter-spacing: 3px;
}

#rightsection h2 {
  font: 18px normal;
  text-align: right;
}

#rightsection p {
  font: 14px gray;
  text-align: justify;
}


/*Footer Styles*/
footer address {
  font: 16px normal;
  text-align: center;
}
